body{
    background-image: url("../images/Background.svg");
    font-family: 'Mali', cursive;
    
}

h1{
    background: purple;
    max-width: 25%;
    margin-right: 50%;
    border-radius: 12px;
    text-align: center;
}

#container{
    background: aqua;
    max-width: 50%;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;
}

img{
    max-width: 85px;
    max-height: 85px;
    padding-right: 12px;
}